<a routerLink="../../feeds/add" [state]="{digestId: digest.id}" 
	class="btn btn-sm btn-success mb-2">Add Source Feed</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width: 20%">Title</th>
			<th style="width: 25%">Source</th>
			<th style="width: 15%">Creation Date</th>
			<th style="width: 15%">Content Update Date</th>
			<th style="width: 15%">Update Interval</th>
			<th style="width: 10%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let sourceFeed of sourceFeeds">
			<td *ngIf="sourceFeed.title"><a routerLink="../../feeds/edit/{{sourceFeed.id}}" [state]="{digestId: digest.id}">
				{{sourceFeed.title}}</a></td>
			<td *ngIf="!sourceFeed.title"></td>
			<td>{{sourceFeed.source}}</td>
			<td>{{sourceFeed.creationDate | date:'medium'}}</td>
			<td>{{sourceFeed.contentUpdateDate | date:'medium'}}</td>
			<td>{{sourceFeed.contentUpdateInterval}} minutes</td>
			<td style="white-space: nowrap">
				<a routerLink="../../feeds/edit/{{sourceFeed.id}}" [state]="{digestId: digest.id}" 
					class="btn btn-sm btn-primary mr-1">Edit</a>
				<button (click)="deleteSourceFeed(sourceFeed.id)" class="btn btn-sm btn-danger">
					<span>Delete</span>
				</button>
			</td>
		</tr>
		<tr *ngIf="!sourceFeeds">
			<td colspan="4" class="text-center">
				<span class="spinner-border spinner-border-lg align-center"></span>
			</td>
		</tr>
	</tbody>
</table>